<section id="help" class="sixth-section">
    <div class="footer">
      <div class="footer-heading">
        <p class="medium-text">HELPLINE NUMBERS</p>
      </div>
      <div class="footer-contact-numbers">
        <div class="contact">
          <div class="contact-img">
            <img
              src="https://img.icons8.com/carbon-copy/40/000000/phone.png"
            />
          </div>
          <div class="contact-number">
            <p class="medium-text">01982256462</p>
          </div>
        </div>
        <div class="contact">
          <div class="contact-img">
            <img
              src="https://img.icons8.com/carbon-copy/40/000000/phone.png"
            />
          </div>
          <div class="contact-number">
            <p class="medium-text">01982256462</p>
          </div>
        </div>
        <div class="contact">
          <div class="contact-img">
            <img
              src="https://img.icons8.com/carbon-copy/40/000000/phone.png"
            />
          </div>
          <div class="contact-number">
            <p class="medium-text">01982256462</p>
          </div>
        </div>
      </div>
      <div class="footer-details">
        <p class="small-text">
          Don’t hesitate to seek professional help if you think you need it. A
          good place to start is your local health worker. Help-lines can also
          be a source of support.
        </p>
      </div>
    </div>
  </section>