<section
class="first-section"
style="
  background-image: url(img/virus-bg.jpg);
  width: 1298px;
  height: 529px;
"
>
<div class="box-main">
  <div class="firsthalf">
    <p class="big-text">Stay Home,<br />Stay Safe.</p>
    <p class="small-text">
      Protect yourself and others around you by knowing the facts and
      taking appropriate precautions. Follow advice provided by your local
      health authority.
    </p>
    <div class="buttons">
      <button class="btn">
        <a href="#symptoms">Check Symptoms</a>
      </button>
    </div>
  </div>

  <div class="secondhalf">
    <img src="img/main.jpg" alt="main" />
  </div>
</div>
</section>