    <!--precautions section starts here-->
    <section id="precaution" class="fourth-section">
      <div class="precaution-section">
        <div class="heading">
          <p class="medium-text">Precautions :</p>
        </div>

        <div class="information">
          <div class="precaution-column">
            <div class="top-precaution">
              <div class="precaution">
                <div class="precaution-img">
                  <img src="./img/1.png" alt="none" class="zoom" />
                </div>
                <div class="precaution-text">WEAR FACE MASK</div>
              </div>
            </div>

            <div class="bottom-precaution">
              <div class="precaution">
                <div class="precaution-img">
                  <img src="./img/2.png" alt="none" class="zoom" />
                </div>
                <div class="precaution-text">TEMPERATURE CHECKS</div>
              </div>
            </div>
          </div>
          <div class="precaution-column">
            <div class="top-precaution">
              <div class="precaution">
                <div class="precaution-img">
                  <img src="./img/3.png" alt="none" class="zoom" />
                </div>
                <div class="precaution-text">SANITIZE YOUR HANDS</div>
              </div>
            </div>

            <div class="bottom-precaution">
              <div class="precaution">
                <div class="precaution-img">
                  <img src="./img/4.png" alt="none" class="zoom" />
                </div>
                <div class="precaution-text">KEEP SOCIAL DISTANCING</div>
              </div>
            </div>
          </div>
          <div class="precaution-column">
            <div class="top-precaution">
              <div class="precaution">
                <div class="precaution-img">
                  <img src="./img/5.png" alt="none" class="zoom" />
                </div>
                <div class="precaution-text">USE DISPOSABLE GLOVES</div>
              </div>
            </div>
            <div id="symptoms">
              <!--empty-->
            </div>
            <div class="bottom-precaution">
              <div class="precaution">
                <div class="precaution-img">
                  <img src="./img/6.png" alt="none" class="zoom" />
                </div>
                <div class="precaution-text">CASHLESS PAYMENTS</div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    