<%- include("partials/header") -%> <%- include("nav") -%>
<style>
  .table-btn {
  border-radius: 30px;
  padding: 12px 12px;
  padding-right: 15px;
  padding-left: 15px;
  margin-top: 22px;
  margin: auto;
  background: rgb(17, 180, 217);
  opacity: .75;
  border: 1px solid rgb(17, 180, 217);
  margin-top: 10px;
}
</style>
<div class="banner">
    <img src="./img/banner.png" width="1420px" />
  </div>
  
  <div style="display: flex; justify-content:center">
  <button id="more" class="table-btn" style="align-items: center;">
    <img src="./img/checked.png">
      Thank you for your response!!!!
  </button>
   
</div>
