<!--symptoms section starts here-->
<section  class="fifth-section">
    <div class="precaution-section">
      <div class="heading">
        <p class="medium-text">Symptoms :</p>
      </div>
<div class="symptoms">

<div class="precaution">
  <div class="symptom-img">
    <img src="./img/fever.png" alt="none" class="zoom" />
  </div>
  <div class="Symptom-text">Fever</div>
</div>
<div class="precaution">
  <div class="symptom-img">
    <img src="./img/cough.png" alt="none" class="zoom" />
  </div>
  <div class="Symptom-text">Cough</div>
</div>
<div class="precaution">
  <div class="symptom-img">
    <img src="./img/sore throat.png" alt="none" class="zoom" />
  </div>
  <div class="Symptom-text">Sore Throat</div>
</div>
<div class="precaution">
  <div class="symptom-img">
    <img src="./img/headache.png" alt="none" class="zoom" />
  </div>
  <div class="Symptom-text">Headache</div>
</div>

</div>
     
    </div>
  </section>
  <!--help section starts here-->
 